@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    left: 40%;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    background: hsl(210, 46%, 95%);
    padding: 150px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    position: relative;
    width: 100%;
    height: auto;
}
img{
    border-radius: 50%;
    float: left;
    width: 30px;
}
.w{
    padding-left: 15px;
    color: white;
}
.b{
    padding-left: 15px;
    color: black;
}
.p{
    padding-left: 15px;
    color: white;
    opacity: 50%;
}
.c{
    padding-left: 15px;
    opacity: 50%;
}

/* Body Styling */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}
.grid-container > div {
    padding: 20px;
    border-radius: 10px;
}
.grid-item1{
    grid-column-start: 1;
    grid-column-end: 3;
    background: hsl(263, 55%, 52%);
}
.grid-item1 .img{
    border: 2px solid hsl(0deg 0% 100% / 50%);
}
.grid-item2{
    grid-column-start: 3;
    grid-column-end: 3;
    background: hsl(217, 19%, 35%);
}
.grid-item3{
    grid-row-start: 1;
    grid-column-end:5 ;
    grid-row-end: 3;
    background: hsl(0, 0%, 100%);
}
.grid-item4{
    grid-row-start: 2;
    grid-column-end: 2;
    background: hsl(0, 0%, 100%);
}
.grid-item5{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background: hsl(219, 29%, 14%);
}
.grid-item5 .img{
    border: 2px solid hsl(263, 55%, 52%);
}
.header {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}
.w-main{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.w-sub{
    color: white;
    padding-top: 10px;;
    font-size: 1rem;
    opacity: 70%;
    font-weight: 500;
}
.b-main{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
}
.b-sub{
    color: black;
    padding-top: 10px;
    font-size: 1rem;
    opacity: 70%;
    font-weight: 500;
}

@media screen and (max-width:375px) {
    body{
        width: 100%;
        position: relative;
    }
    .attribution{
        position: absolute;
        bottom: 0%;
        left: 18%;
    }
    .grid-container{
        display: grid;
        grid-template-rows: auto auto auto auto auto;
    }
    .grid-item1{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        background: hsl(263, 55%, 52%);
    }
    .grid-item2{
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 5;
        background: hsl(217, 19%, 35%);
    }
    .grid-item3{
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start:1 ;
        grid-column-end: 5;
        background: hsl(0, 0%, 100%);
    }
    .grid-item4{
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 5;
        background: hsl(0, 0%, 100%);
    }
    .grid-item5{
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        background: hsl(219, 29%, 14%);
    }
}